# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
registries:
  public-nuget:
    type: nuget-feed
    url: https://api.nuget.org/v3/index.json
updates:
  - package-ecosystem: devcontainers
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "Devcontainer"
  - package-ecosystem: nuget
    directory: "/"
    registries:
      - public-nuget
    schedule:
      interval: weekly
    commit-message:
      prefix: "NuGet"
    open-pull-requests-limit: 15
    groups:
      Aspire:
        patterns:
          - "Aspire.*"
          - "Microsoft.Extensions.ServiceDiscovery.*"
      AspNetCore:
        patterns:
          - "Microsoft.AspNetCore.*"
          - "Microsoft.Extensions.Features"
      OpenTelemetry:
        patterns:
          - "OpenTelemetry.*"
      Grpc:
        patterns:
          - "Grpc.*"
      MassTransit:
        patterns:
          - "MassTransit.*"
      EntityFrameworkCore:
        patterns:
          - "Microsoft.EntityFrameworkCore.*"
  - package-ecosystem: "npm"
    directory: "/eventcatalog"
    schedule:
      interval: weekly
    commit-message:
      prefix: "NPM (Event Catalog)"
  - package-ecosystem: "npm"
    directory: "/docs"
    schedule:
      interval: weekly
    commit-message:
      prefix: "NPM (VuePress)"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "GitHub Actions"
