<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>10</MaxCpuCount>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage">
                <Configuration>
                    <Format>cobertura,opencover</Format>
                    <CodeCoverage>
                        <ModulePaths>
                            <Include>
                                <ModulePath>.*\BookWorm.Basket.dll$</ModulePath>
                                <ModulePath>.*\BookWorm.Catalog.dll$</ModulePath>
                                <ModulePath>.*\BookWorm.Ordering.dll$</ModulePath>
                                <ModulePath>.*\BookWorm.Rating.dll$</ModulePath>
                            </Include>
                        </ModulePaths>
                        <Sources>
                            <Include>
                                <Source>.*\\Grpc\\.*</Source>
                                <Source>.*\\Domain\\.*</Source>
                                <Source>.*\\Features\\.*</Source>
                            </Include>
                        </Sources>
                        <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
                        <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
                        <CollectFromChildProcesses>True</CollectFromChildProcesses>
                        <CollectAspDotNet>False</CollectAspDotNet>
                    </CodeCoverage>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
