<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["app.output.css"]"/>
    <link rel="stylesheet" href="@Assets["BookWorm.StoreFront.styles.css"]"/>
    <link rel="stylesheet" href="@Assets["_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <HeadOutlet/>
</head>

<body>
    <Routes/>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>