<h3>CatalogHeader</h3>

@code {

    [Parameter] public string? FilteredCount { get; set; }
    [Parameter] public string? TotalCount { get; set; }
    [Parameter] public string? CurrentSortBy { get; set; }
    [Parameter] public string? CurrentSortByChanged { get; set; }
    [Parameter] public string? OnSortChanged { get; set; }

}