@using Microsoft.FluentUI.AspNetCore.Components

<aside class="filters-sidebar">
    <h3>Filters</h3>

    <div class="filter-group">
        <h4>Category</h4>
        <FluentCheckbox>Fiction</FluentCheckbox>
        <FluentCheckbox>Non-Fiction</FluentCheckbox>
        <FluentCheckbox>Mystery</FluentCheckbox>
        <FluentCheckbox>Romance</FluentCheckbox>
        <FluentCheckbox>Science Fiction</FluentCheckbox>
    </div>

    <div class="filter-group">
        <h4>Price Range</h4>
        <FluentCheckbox>Under $10</FluentCheckbox>
        <FluentCheckbox>$10 - $20</FluentCheckbox>
        <FluentCheckbox>$20 - $30</FluentCheckbox>
        <FluentCheckbox>Over $30</FluentCheckbox>
    </div>
</aside>
