name: BookWorm EventCatalog

on:
  push:
    branches:
      - main
    paths:
      - "docs/eventcatalog/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: "Deployed site"
        run: curl -X POST -d {} ${{ secrets.NETLIFY_BUILD_HOOK }}
