@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1 bg-base-100" role="main">
        @Body
    </main>
    <Footer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
